.basemaps {
    display: none;
    background: white;
    position: absolute;
    bottom: 42px;
    right: 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    &.active {
        display: block;
    }
    &__item {
        display: block;
        width: 180px;
        height: 36px;
        color: #ccc;
        border-bottom: 1px solid #ccc;
        font: 14px/20px $textFont;
        letter-spacing: .5px;
        padding: 8px;
        &:hover {
            color: white;
            background: $mainThemeColor;
            & .basemaps__icon {
                color: white;
                opacity: 1;
            }
        }

        &.active {
            color: #444;
            &:hover {
                color: white;
                background: $mainThemeColorDark;
            }
        }
    }
    &__icon {
        color: white;
        font-size: 15px;
        margin-right: 5px;
        &.active {
            color: $mainThemeColorDark;
            &:hover {
                color: white;
            }
        }
        &:hover {
            color: $mainThemeColorDark;
        }
    }
    & .basemaps__item:first-child {
        border-radius: 4px 4px 0 0;
    }
    & .basemaps__item:last-child {
        border-bottom: none;
        border-radius: 0 0 4px 4px;
    }
}
