// .mapboxgl-ctrl-attrib.mapboxgl-compact::after {
//     display: none;
// }

.mapboxgl-ctrl-attrib.control-compact {
    margin: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 3px 12px 12px 3px;
}

.mapboxgl-ctrl-attrib.control-compact:hover {
    padding: 2px 24px 2px 4px;
    visibility: visible;
}

.mapboxgl-ctrl-top-left>.mapboxgl-ctrl-attrib.control-compact:hover,
.mapboxgl-ctrl-bottom-left>.mapboxgl-ctrl-attrib.control-compact:hover {
    padding: 2px 4px 2px 24px;
    border-radius: 12px 3px 3px 12px;
}

.mapboxgl-ctrl-attrib.control-compact .mapboxgl-ctrl-attrib-inner {
    display: none;
}

.mapboxgl-ctrl-attrib.control-compact:hover .mapboxgl-ctrl-attrib-inner {
    display: block;
    width: 200px;
}

.mapboxgl-ctrl-attrib.control-compact::after {
    content: '';
    cursor: pointer;
    position: absolute;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill='%23333333' fill-rule='evenodd' d='M4,10a6,6 0 1,0 12,0a6,6 0 1,0 -12,0 M9,7a1,1 0 1,0 2,0a1,1 0 1,0 -2,0 M9,10a1,1 0 1,1 2,0l0,3a1,1 0 1,1 -2,0'/%3E %3C/svg%3E");
    background-color: rgba(255, 255, 255, 0.5);
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 12px;
}

.mapboxgl-ctrl-bottom-right>.mapboxgl-ctrl-attrib.control-compact::after {
    bottom: 0;
    right: 0;
}

.mapboxgl-ctrl-top-right>.mapboxgl-ctrl-attrib.control-compact::after {
    top: 0;
    right: 0;
}

.mapboxgl-ctrl-top-left>.mapboxgl-ctrl-attrib.control-compact::after {
    top: 0;
    left: 0;
}

.mapboxgl-ctrl-bottom-left>.mapboxgl-ctrl-attrib.control-compact::after {
    bottom: 0;
    left: 0;
}


.mapboxgl-ctrl-attrib.mapboxgl-compact {
    padding: 2px 5px;
    right: 115px;
    bottom: 29px;
    width: 430px;
    border-radius: 5px;
    margin: 0;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact:hover {
    padding: 2px 5px;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact>* {
    display: inline;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact::after {
    display: none;
}

.navigationAndCopyrightControls {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-box-align: end;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.copyright {
    margin: 0 50px 10px 0 !important;
    background: rgba(255, 255, 255, 0.7) !important;
    border-radius: 4px;
    padding: 2px;
    box-sizing: content-box;
    position: relative; //для корректной работы display: -webkit-box у родителя

    &__link {
        color: $mainThemeColor;

        &:hover {
            text-decoration: none;
            color: $mainThemeColorDark;
        }
    }
}

.logoAndCopyrightControls {
    display: -webkit-box;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
}

.logoAndCopyrightControls>.mapboxgl-ctrl {
    position: relative;
}

.navigationControl {
    background: none;
    box-shadow: none !important;
    margin: 0 !important;
    border-radius: 0;
    right: 5px;
    bottom: 5px;
    width: 74px;
    height: 110px;
    position: relative;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
    position: relative;
    width: 58px;
    height: 58px;
    margin: 0 auto;
    margin-top: 5px;
}

.mapboxgl-ctrl>button:hover {
    background-color: rgba(0, 0, 0, 0);
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass>.mapboxgl-ctrl-compass-arrow {
    display: block;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 9px solid white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 1px 5px 0px, rgba(0, 0, 0, 0.65) 0px 1px 5px 0px inset;
    box-sizing: content-box;
    background: none;
}

.mapboxgl-ctrl-group>button+button {
    border: none;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass>.mapboxgl-ctrl-compass-arrow:before {
    content: "";
    border: 7px solid transparent;
    border-width: 0 3px 7px;
    border-color: #F40402 transparent;
    position: absolute;
    top: -8px;
    left: 17px;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass>.mapboxgl-ctrl-compass-arrow:after {
    content: "";
    width: 2px;
    height: 5px;
    background: #CCC;
    position: absolute;
    bottom: -7px;
    left: 19.5px;
}

.compassArrowWest {
    width: 5px;
    height: 2px;
    background: #CCC;
    position: absolute;
    top: 20px;
    left: -7px;
    z-index: 1;
}

.compassArrowEast {
    width: 5px;
    height: 2px;
    background: #CCC;
    position: absolute;
    top: 20px;
    right: -6px;
    z-index: 1;
}

.compass3DMode {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 4px;
    left: 4px;
    font-family: $extraFont;
    font-size: 16px;
    color: #212529;
    text-align: center;
    line-height: 33px;
    font-weight: 700;
    cursor: pointer;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
    background-image: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    height: 32px;
    width: 64px;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
    margin-bottom: 5px;
    margin-right: 5px;

    &:hover {
        background-color: white;
    }

    &:focus {
        outline: none;
    }
}

.fa-plus {
    font-size: 17px;
    color: #444444;
    padding: 8px;
    padding-left: 40px;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
    background-image: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-right: 1px solid #ccc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
        background-color: white;
    }

    &:focus {
        outline: none;
    }
}

.fa-minus {
    font-size: 17px;
    color: #444444;
    padding: 8px;
}