.categories {
    display: none;
    background: white;
    position: absolute;
    top: 42px;
    right: 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    z-index: 2;

    &.active {
        display: block;

        @media (max-width: 768px) {
            &.onCard {
                display: block;
            }
        }
    }

    @media (max-width: 768px) {
        &.onCard {
            top: 10%;
            // right: calc((100vw - 160px)/2);
            // right: calc((var(--vw, 1vw) * 100 - 160px)/2);
            z-index: 1;
            text-align: left;
        }
    }

    &__modal {
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $mainThemeColor;
        opacity: 0.5;
        display: none;
    }

    &__closeModal {
        width: 28px;
        height: 27px;
        position: absolute;
        z-index: 2;
        right: -30px;
        font-size: 18px;
        top: -27px;
        border-radius: 4px;
        background: white;
        padding: 0 8px 6px;
        color: $mainThemeColor;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
        cursor: pointer;
        display: none;

        &.onCard {
            @media (max-width: 768px) {
                display: block;
            }
        }
    }

    &__item {
        display: block;
        width: 160px;
        height: 32px;
        color: #ccc;
        position: relative;
        z-index: 1;
        background: white;
        border-bottom: 1px solid #ccc;
        font: 14px/20px $textFont;
        letter-spacing: .5px;

        &:hover {
            color: #ccc;
        }

        &.active {
            color: #444;
        }
    }

    &__icon {
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 5px 5px;
        font-size: 15px;
        margin: 3px 7px 4px 7px;
        opacity: .45;

        &.active {
            opacity: 1;
        }
    }

    & .categories__item:nth-child(3) {
        border-radius: 4px 4px 0 0;
    }

    & .categories__item:last-child {
        border-bottom: none;
        border-radius: 0 0 4px 4px;
    }
}

.no-touchevents .categories__item:hover {
    color: #ccc;
    background: $mainThemeColor;
}

.no-touchevents .categories__item.active:hover {
    color: white;
    background: $mainThemeColorDark;
}