.iziRouteCardWays {
    // display: grid;
    // grid-template-columns: 30px 65px;
    display: -webkit-box;
    display: flex;
    position: absolute;
    bottom: 10px;
    height: 24px;

    &__firstIcon {
        padding: 2px;
        padding-right: 5px;
        font-size: 20px;
        color: #9B9B9B;
    }

    &__secondIcon {
        padding: 5px;
        font-size: 20px;
        color: #9B9B9B;
    }

    &__distance {
        font-family: $textFont;
        color: #9B9B9B;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: .5px;
    }
}
