.iziRouteCard {
    padding: 15px 18px 10px 10px;
    position: relative;

    &__title {
        font-family: $titleFont;
        color: #444;
        font-size: 14px;
        line-height: 17px;
        margin: 0;
    }

    &:first-letter {
        text-transform: uppercase;
    }

    &__subtitle {
        font-family: $textFont;
        letter-spacing: .5px;
        color: #9B9B9B !important;
        font-size: 12px;
        line-height: 14px;
        margin: 0 !important;
        padding-bottom: 30px;
    }

    &__objectImage {
        float: right;
        margin-left: 5px;
        display: block;
        max-width: 95px;
        font-size: 50px;
        background: #e2e2e2 !important;

        &.maki {
            padding: 10px 8px;
            color: #999;
        }

        &_none {
            float: right;
            margin-left: 5px;
            display: block;
            max-width: 95px;
            font-size: 60px;
            color: #e2e2e2;
        }
    }

    &:hover &__objectImage_none {
        color: #bbb;
    }

    &__objectImageTag {
        position: absolute;
        right: 13px;
        top: 10px;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 5px 5px;
        font-size: 15px;
    }
}