.mapSideBar {
    width: 258px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
    background: white;
    position: fixed;
    z-index: 0;
    // height: calc(100vh - 38px);
    // height: calc(var(--vh, 1vh) * 100 - 38px);
    bottom: 0;
    display: none;
}
