.mapSideBarCollapse {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;

    &__show {
        display: none;
        background: $mainThemeColor;
        color: white;
        padding: 4px 6px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65), inset 0 3px 5px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        font-weight: 700;
    }

    &__hide {
        display: none;
        left: 260px;
        position: absolute;
        top: 0;
        background: $mainThemeColor;
        color: white;
        padding: 8px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65), inset 0 3px 5px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

}