.objectCard {
    position: relative;
    overflow-x: hidden;
    // height: calc(100vh - 54px);
    // height: calc(var(--vh, 1vh) * 100 - 54px);

    // @media (max-width: 768px) {
    //     height: calc(100vh - 78px);
    //     height: calc(var(--vh, 1vh) * 100 - 78px);
    // }

    &__image {
        width: 100%;
        height: auto;

        @media (max-width: 768px) {
            // max-height: 50vh;
            // max-height: calc(var(--vh, 1vh) * 50);
            object-fit: contain;
            //background: rgba($mainThemeColor, .3);
        }

        &_none {
            width: 100%;
            height: 50px;
            background: white;
        }
    }

    &__backToCards {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 32px;
        height: 32px;
        background: white;
        color: #444;
        border-radius: 4px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
        padding: 4px;
        text-align: center;

        @media (max-width: 768px) {
            position: fixed;
            top: 50px;
        }

        &:hover {
            color: #444;
        }
    }

    &__zoomToObject {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        background: white;
        color: #444;
        border-radius: 4px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
        padding: 4px;
        text-align: center;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__reviewsStars {
        display: inline-block;
        width: 84px;
        height: 16px;
        background: url(../images/sprite_rating.png) no-repeat 0 0;
        background-size: 100%;
        vertical-align: middle;
        margin: 0 10px;
    }

    &__reviewsCount {
        display: inline-block;
        font-family: "HelveticaNeue Roman", sans-serif;
        letter-spacing: .5px;
        color: #9B9B9B;
        font-size: 12px;
    }

    &__title {
        font-family: $titleFont;
        color: #444;
        font-size: 14px;
        line-height: 17px;
        margin: 10px 10px 5px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__subtitle {
        font-family: $textFont;
        letter-spacing: .5px;
        color: #9B9B9B;
        font-size: 12px;
        line-height: 14px;
        margin: 0 10px;
    }

    &__showOnMap {
        display: none;
        background: white;
        height: 40px;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 7px 15px;
        border-top: 1px solid #dee2e6;
        font-family: $titleFont;
        letter-spacing: .5px;
        color: #444;
        cursor: pointer;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 3px;
    }

    &::-webkit-scrollbar-button {
        height: 7px;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: #9b9b9b21;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        height: 57px;
        background-color: $mainThemeColor;
        border-radius: 5px;
    }

    & a:last-child {
        border-bottom: none;
        border-radius: 4px;
    }
}