.objectAddressAndContacts {
    margin: 10px;

    &__address {
        margin-bottom: 10px;
        font-family: $textFont;
        color: #444;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .5px;
    }

    &__telephone {
        margin-bottom: 10px;
        font-family: $textFont;
        color: #444;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .5px;
    }

    &__website {
        margin-bottom: 10px;
        font-family: $textFont;
        color: #444;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .5px;
    }
}