.objectDescription {
    margin: 10px;

    &__title {
        font-family: $titleFont;
        color: #9B9B9B;
        font-size: 10px;
        line-height: 12px;
        margin-top: 10px;
        margin-bottom: 6px;
        text-transform: uppercase;
        letter-spacing: .5px;
    }

    &__text {
        font-family: $textFont;
        color: #444;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .5px;

        &_emphasis {
            font-family: $titleFont;
        }
    }

    &__linkToOTM {
        display: block;
        font-family: $textFont;
        font-size: 12px;
        color: $mainThemeColor;
        text-align: right;
        line-height: 16px;
        padding: 7px 0;

        &:hover {
            text-decoration: none;
            color: $mainThemeColor;
        }
    }
}
