.objectOpenHours {
    padding-left: 26px;
    margin-bottom: 10px;
    font-family: $textFont;
    color: #444;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .5px;

    &__title {
        cursor: pointer;
    }
}

.objectOpenHoursDropdown {
    display: none;

    &__days {
        &_emphasis {
            font-family: $titleFont;
        }
    }

    &.active {
        display: -webkit-box;
        -webkit-box-pack: justify;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        transition: display 1s ease-out 0.5s;

        @media (max-width: 768px) {
            width: 40%;
            padding-right: 0;
        }

        @media (max-width: 500px) {
            width: 60%;
        }

        @media (max-width: 300px) {
            display: -webkit-box;
            -webkit-box-pack: justify;
            width: 100%;
            padding-right: 20px;
        }
    }
}

.cssgrid .objectOpenHoursDropdown.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}