.objectRoutes {
    border-radius: 4px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13);

    &_decor {
        margin: 10px;
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flex;
        display: flex;

        @media (max-width: 768px) {
            margin: 10px auto !important;
            width: 50%;
        }

        @media (max-width: 600px) {
            width: 70%;
        }

        @media (max-width: 400px) {
            width: 90%;
        }
    }

    &_inactive {
        grid-template-columns: 47% 53%;
        box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.13);
        margin: 5px;
    }

    & .objectRoute:first-child {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        width: 50%;
    }

    & .objectRoute:last-child {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        width: 50%;
    }
}

.cssgrid .objectRoutes_decor {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cssgrid .objectRoutes .objectRoute:first-child {
    width: 100%;
}

.cssgrid .objectRoutes .objectRoute:last-child {
    width: 100%;
}

.routeCard .objectRoute {
    box-shadow: none;

    &:first-child {
        border-right: 1px solid #CCCCCC;
    }

    &:hover {
        background: $mainThemeColorDark;

        & .objectRoute__firstIcon {
            color: white;
        }

        & .objectRoute__secondIcon {
            color: white;
        }

        & .objectRoute__distance {
            color: white;
        }
    }
}

.routeCard .objectRoutes {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
}


.objectRoute {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.65);
    padding: 3px;
    height: 37px;

    &:hover {
        text-decoration: none;
    }

    &__firstIcon {
        float: left;
        padding: 5px 7px;
        color: #444;
        font-size: 19px;

        &.active {
            color: white;
        }
    }

    &__secondIcon {
        float: left;
        padding: 6px;
        padding-left: 3px;
        color: #444;
        font-size: 19px;

        &.active {
            color: white;
        }
    }

    &__distance {
        font-family: $textFont;
        color: #444;
        font-size: 14px;
        line-height: 14px;

        &.active {
            color: white;
        }
    }

    &__distanceInactive {
        color: #ccc;
        font-size: 9px;
        padding: 5px;
    }

    &.active {
        background: $mainThemeColorDark;
        box-shadow: none;
        box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.13);

    }
}

.objectRouteInactive {
    color: #ccc;
    padding: 3px;

    &.active {
        color: #ccc;
    }
}