html {
    -webkit-text-size-adjust: noneж
}

a {
    cursor: pointer;
}

a:hover {
    сolor: initial !important;
    text-decoration: none;
}

p {
    margin-bottom: 5px;
}

.card {
    width: inherit;
    min-height: 100px;
    border: none;
    border-bottom: 1px solid#dee2e6;
    border-radius: 0;
    background: white;
}

.card:hover {
    text-decoration: none;
    background: rgba($mainThemeColor, 0.20);
}

.card:hover .nav-link {
    border-bottom: rgba(55, 144, 144, 0.20);
}

.card:first-child:hover {
    margin-top: -1px;
    padding-top: 1px;
}

.fa-shopping-cart {
    background: #EA8A9C;
}

.fa-bed {
    background: #BF2C69;
    font-size: 10px;
}

.fa-landmark {
    background: #2071B5;
    padding: 6px;
    font-size: 12px;
}

.nav-tabs {
    padding: 0 5px;
    margin-top: 5px;
}

.nav-link {
    padding: 6px;
    font-family: $textFont;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .5px;
    color: $mainThemeColor;
    width: 124px;
    text-align: center;
}

.nav-link:hover {
    color: $mainThemeColor;
}

.nav-link.active {
    color: #444;
}

.fa-search {
    color: $mainThemeColor;
    opacity: .5;
    font-size: 12px;
    margin: 10px;
}

.fa-arrow-left {
    font-size: 16px;
}

.fa-map-marker-alt {
    color: $mainThemeColor;
    margin-right: 14px;
    font-size: 16px;
}

.objectCard__zoomToObject>.fa-map-marker-alt {
    color: inherit;
    font-size: 16px;
    margin: 0;
}

.fa-phone {
    color: $mainThemeColor;
    margin-right: 10px;
    font-size: 16px;
}

.fa-globe {
    color: $mainThemeColor;
    margin-right: 10px;
    font-size: 16px;
}

.link {
    color: $mainThemeColor;
}

.fa-clock {
    color: $mainThemeColor;
    font-size: 16px;
    margin-left: -26px;
    margin-right: 11px;
}

.fa-chevron-down {
    color: #9B9B9B;
    font-size: 10px;
    margin: 0 5px;
}

.nav-tabs.nav-item {
    margin-bottom: 0;
}

.fa-filter {
    background: $mainThemeColorDark;
    color: white;
    font-size: 16px;
    padding: 8px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65), inset 0 3px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    &.active {
        background: white;
        color: $mainThemeColorDark;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25), inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    }
}

.list-content {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.geocoder-icon-close {
    color: $mainThemeColor;
    opacity: .5;
    font-size: 15px;
    margin: 9px !important;
}

.fa-spinner {
    color: $mainThemeColor;
    font-size: 15px;
}

#home {
    position: relative;
}

.ps__rail-y {
    height: inherit;
    z-index: 1;
}

.ps__rail-y:hover>.ps__thumb-y {
    width: 8px;
    border-radius: 4px;
    background: $mainThemeColor;
}

.ps .ps__rail-y:hover {
    background-color: #eee;
    opacity: 1;
    width: 8px;
    border-radius: 4px;
}

.ps .ps__rail-y {
    background-color: #eee;
    opacity: 1;
    width: 8px;
    border-radius: 4px;
}

.ps__rail-y.ps--clicking .ps__thumb-y {
    width: 8px;
    border-radius: 4px;
    background: $mainThemeColor;
}

#myTabContent {
    position: relative;
    padding: 0px;
}

.ps__rail-x,
.ps__rail-y {
    opacity: 1;
}

.ps__thumb-y,
.ps__thumb-y:active,
.ps__thumb-y:hover,
.ps__thumb-y:focus {
    background: $mainThemeColor;
    width: 8px;
    border-radius: 4px;
    outline: none;
    right: 0;
}

.ps:hover>.ps__rail-y {
    opacity: 1;
}

.geocoderInput::after {
    content: '';
    display: block;
    height: 8px;
    z-index: 0;
    position: absolute;
    width: 100%;
    background: white;
}

.geocoderInput.small::after {
    height: 4px;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
    margin: 0;
}

.nextCards,
.nextTours {
    display: block;
    margin: 17px auto;
    background: $mainThemeColor;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    font-family: $textFont;
    font-size: 15px;
    letter-spacing: .5px;
    color: white;
    cursor: pointer;
}

.rating10 {
    background-position: 0 -160px !important;
}

.rating9 {
    background-position: 0 -144px !important;
}

.rating8 {
    background-position: 0 -128px !important;
}

.rating7 {
    background-position: 0 -112px !important;
}

.rating6 {
    background-position: 0 -96px !important;
}

.rating5 {
    background-position: 0 -80px !important;
}

.rating4 {
    background-position: 0 -64px !important;
}

.rating3 {
    background-position: 0 -48px !important;
}

.rating2 {
    background-position: 0 -32px !important;
}

.rating1 {
    background-position: 0 -16px !important;
}

.fa-layer-group {
    background: $mainThemeColorDark;
    color: white;
    padding: 8px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65), inset 0 3px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    &.active {
        background: white;
        color: $mainThemeColorDark;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25), inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    }
}

.fa-map {
    background: $mainThemeColorDark;
    color: white;
    padding: 8px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65), inset 0 3px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    &.active {
        background: white;
        color: $mainThemeColorDark;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25), inset 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    }
}

.noObjectsDiv {
    text-align: center;
    padding: 10px;
}

#backToMap {
    display: none;
    background: white;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 7px 15px;
    border-top: 1px solid #dee2e6;
    font-family: $titleFont;
    letter-spacing: .5px;
    color: #444;
    cursor: pointer;
}

.objectsFilter {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    padding: 5px 20px;
    text-align: end;
    display: none;
}

input {
    border-radius: unset !important;
}

.nav {
    display: -webkit-box;
    display: flex;
}