.placeCardWays {
    display: -webkit-box;
    display: flex;
    position: absolute;
    bottom: 10px;
    height: 24px;

    &__firstIcon {
        padding: 2px;
        padding-right: 5px;
        font-size: 20px;
        color: #9B9B9B;
    }

    &__secondIcon {
        padding: 5px;
        padding-right: 7px;
        font-size: 20px;
        color: #9B9B9B;
    }

    &__distance {
        font-family: $textFont;
        color: #9B9B9B;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: .5px;
    }
}

.cssgrid .placeCardWays {
    display: grid;
    grid-template-columns: 20px 54px 37px 54px;
}
