.routePoint {
    &__number {
        border-radius: 50%;
        background-color: $mainThemeColor;
        color: white;
        width: 30px;
        height: 30px;
        display: block;
        padding: 5px;
        font-size: 15px;
        margin: 0 auto;
    }
    &__title {
        font-size: 12px;
        font-weight: normal;
    }
}