
.routePointsBlock {
    font-family: $textFont;
    color: #444;
    line-height: 20px;
    letter-spacing: .5px;
    text-align: center;
    margin: 5px;

    &__title {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 7px;
    }
}