.routeCard {
    padding: 15px 10px 10px;
    border-bottom: 1px solid #CCC;

    &__title {
        font-family: $titleFont;
        color: #444;
        font-size: 14px;
        line-height: 17px;
        margin: 0;
    }

    &__subtitle {
        font-family: $textFont;
        letter-spacing: .5px;
        color: #9B9B9B !important;
        font-size: 12px;
        line-height: 14px;
        margin: 0 !important;
        padding-bottom: 6px;
    }
}
