.routesNavigation {
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: -webkit-box;
    -webkit-box-pack: justify;
    display: flex;
    justify-content: space-between;
}