.routesIcons {
    display: none;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    &__firstIcon {
        padding: 6px 10px;
        color: #444;
        font-size: 20px;
        background: white;
        border-radius: 4px 0 0 4px;
        &.active {
            background: $mainThemeColorDark;
            color: white;
        }
    }
    &__secondIcon {
        padding: 4px;
        padding-top: 9px;
        color: #444;
        font-size: 19px;
        background: white;
        border-radius: 0 4px 4px 0;
        &.active {
            background:$mainThemeColorDark;
            color: white;
        }
    }
}
