.mapboxgl-ctrl-geocoder {
    border-bottom: 2px solid $mainThemeColor;
    height: 34px;

    & input[type='text'] {
        border: none;
        border-top-left-radius: 4px;
        color: #495057;
        font-size: 14px;
        line-height: 15px;
        padding: 8px 0;
        width: 204px;
        height: 100%;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: #CCC;
            font-size: 12px;
            line-height: 15px;
        }

        &:-ms-input-placeholder {
            color: #CCC;
            font-size: 12px;
            line-height: 15px;
        }

        &::placeholder {
            color: #CCC;
            font-size: 12px;
            line-height: 15px;
        }

        &:focus::-webkit-input-placeholder {
            color: transparent;
        }

        &:focus::-ms-input-placeholder {
            color: transparent;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }
}

.mapboxgl-ctrl-geocoder input[type='text']::placeholder {
    color: #CCC;
    font-size: 12px;
    line-height: 15px;
}
