@font-face {
    font-family: "HelveticaNeue Bold";
    src: url(../fonts/HelveticaNeueCyr-Bold.otf);
}

@font-face {
    font-family: "HelveticaNeue Roman";
    src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url(../fonts/HelveticaNeue-Medium.ttf);
}

:root {
    --color-main-theme: #3c5976;
}

$titleFont: 'HelveticaNeue Bold', sans-serif;
$textFont: 'HelveticaNeue Roman', sans-serif;
$extraFont: 'HelveticaNeue-Medium', sans-serif;
$mainThemeColor: var(--color-main-theme);//#b6804c;//#379090;
$mainThemeColorDark: var(--color-main-theme);//#b6804c;//#296B6B;

$maki-font-family: "maki" !default;
$maki-font-path: "../fonts" !default;

$maki-jewelry-store-15: "\e900";
$maki-karaoke-15: "\e901";
$maki-landmark-15: "\e902";
$maki-landuse-15: "\e903";
$maki-laundry-15: "\e904";
$maki-library-15: "\e905";
$maki-lighthouse-15: "\e906";
$maki-lodging-15: "\e907";
$maki-logging-15: "\e908";
$maki-marker-15: "\e909";
$maki-marker-stroked-15: "\e90a";
$maki-mobile-phone-15: "\e90b";
$maki-monument-15: "\e90c";
$maki-mountain-15: "\e90d";
$maki-museum-15: "\e90e";
$maki-music-15: "\e90f";
$maki-natural-15: "\e910";
$maki-optician-15: "\e911";
$maki-paint-15: "\e912";
$maki-park-15: "\e913";
$maki-park-alt1-15: "\e914";
$maki-parking-15: "\e915";
$maki-parking-garage-15: "\e916";
$maki-pharmacy-15: "\e917";
$maki-picnic-site-15: "\e918";
$maki-pitch-15: "\e919";
$maki-place-of-worship-15: "\e91a";
$maki-playground-15: "\e91b";
$maki-police-15: "\e91c";
$maki-post-15: "\e91d";
$maki-prison-15: "\e91e";
$maki-rail-15: "\e91f";
$maki-rail-light-15: "\e920";
$maki-rail-metro-15: "\e921";
$maki-ranger-station-15: "\e922";
$maki-recycling-15: "\e923";
$maki-religious-buddhist-15: "\e924";
$maki-religious-christian-15: "\e925";
$maki-religious-jewish-15: "\e926";
$maki-religious-muslim-15: "\e927";
$maki-residential-community-15: "\e928";
$maki-restaurant-15: "\e929";
$maki-restaurant-noodle-15: "\e92a";
$maki-restaurant-pizza-15: "\e92b";
$maki-restaurant-seafood-15: "\e92c";
$maki-roadblock-15: "\e92d";
$maki-rocket-15: "\e92e";
$maki-school-15: "\e92f";
$maki-scooter-15: "\e930";
$maki-shelter-15: "\e931";
$maki-shoe-15: "\e932";
$maki-shop-15: "\e933";
$maki-skateboard-15: "\e934";
$maki-skiing-15: "\e935";
$maki-slaughterhouse-15: "\e936";
$maki-slipway-15: "\e937";
$maki-snowmobile-15: "\e938";
$maki-soccer-15: "\e939";
$maki-square-15: "\e93a";
$maki-square-stroked-15: "\e93b";
$maki-stadium-15: "\e93c";
$maki-star-15: "\e93d";
$maki-star-stroked-15: "\e93e";
$maki-suitcase-15: "\e93f";
$maki-sushi-15: "\e940";
$maki-swimming-15: "\e941";
$maki-table-tennis-15: "\e942";
$maki-teahouse-15: "\e943";
$maki-telephone-15: "\e944";
$maki-tennis-15: "\e945";
$maki-theatre-15: "\e946";
$maki-toilet-15: "\e947";
$maki-town-15: "\e948";
$maki-town-hall-15: "\e949";
$maki-triangle-15: "\e94a";
$maki-triangle-stroked-15: "\e94b";
$maki-veterinary-15: "\e94c";
$maki-viewpoint-15: "\e94d";
$maki-village-15: "\e94e";
$maki-volcano-15: "\e94f";
$maki-volleyball-15: "\e950";
$maki-warehouse-15: "\e951";
$maki-waste-basket-15: "\e952";
$maki-watch-15: "\e953";
$maki-water-15: "\e954";
$maki-waterfall-15: "\e955";
$maki-watermill-15: "\e956";
$maki-wetland-15: "\e957";
$maki-wheelchair-15: "\e958";
$maki-windmill-15: "\e959";
$maki-zoo-15: "\e95a";
$maki-gift-15: "\e95b";
$maki-globe-15: "\e95c";
$maki-golf-15: "\e95d";
$maki-grocery-15: "\e95e";
$maki-hairdresser-15: "\e95f";
$maki-harbor-15: "\e960";
$maki-hardware-15: "\e961";
$maki-heart-15: "\e962";
$maki-heliport-15: "\e963";
$maki-home-15: "\e964";
$maki-horse-riding-15: "\e965";
$maki-hospital-15: "\e966";
$maki-ice-cream-15: "\e967";
$maki-industry-15: "\e968";
$maki-information-15: "\e969";
$maki-aerialway-15: "\e96a";
$maki-airfield-15: "\e96b";
$maki-airport-15: "\e96c";
$maki-alcohol-shop-15: "\e96d";
$maki-america-football-15: "\e96e";
$maki-amusement-park-15: "\e96f";
$maki-aquarium-15: "\e970";
$maki-art-gallery-15: "\e971";
$maki-attraction-15: "\e972";
$maki-bakery-15: "\e973";
$maki-bank-15: "\e974";
$maki-bar-15: "\e975";
$maki-barrier-15: "\e976";
$maki-baseball-15: "\e977";
$maki-basketball-15: "\e978";
$maki-bbq-15: "\e979";
$maki-beach-15: "\e97a";
$maki-beer-15: "\e97b";
$maki-bicycle-15: "\e97c";
$maki-bicycle-share-15: "\e97d";
$maki-blood-bank-15: "\e97e";
$maki-bowling-alley-15: "\e97f";
$maki-bridge-15: "\e980";
$maki-building-15: "\e981";
$maki-building-alt1-15: "\e982";
$maki-bus-15: "\e983";
$maki-cafe-15: "\e984";
$maki-campsite-15: "\e985";
$maki-car-15: "\e986";
$maki-car-rental-15: "\e987";
$maki-car-repair-15: "\e988";
$maki-casino-15: "\e989";
$maki-castle-15: "\e98a";
$maki-cemetery-15: "\e98b";
$maki-charging-station-15: "\e98c";
$maki-cinema-15: "\e98d";
$maki-circle-15: "\e98e";
$maki-circle-stroked-15: "\e98f";
$maki-city-15: "\e990";
$maki-clothing-store-15: "\e991";
$maki-college-15: "\e992";
$maki-commercial-15: "\e993";
$maki-communications-tower-15: "\e994";
$maki-confectionary-15: "\e995";
$maki-convenience-store-15: "\e996";
$maki-cricket-15: "\e997";
$maki-cross-15: "\e998";
$maki-dam-15: "\e999";
$maki-danger-15: "\e99a";
$maki-defibrillator-15: "\e99b";
$maki-dentist-15: "\e99c";
$maki-doctor-15: "\e99d";
$maki-dog-park-15: "\e99e";
$maki-drinking-water-15: "\e99f";
$maki-embassy-15: "\e9a0";
$maki-emergency-phone-15: "\e9a1";
$maki-entrance-15: "\e9a2";
$maki-entrance-alt1-15: "\e9a3";
$maki-farm-15: "\e9a4";
$maki-fast-food-15: "\e9a5";
$maki-fence-15: "\e9a6";
$maki-ferry-15: "\e9a7";
$maki-fire-station-15: "\e9a8";
$maki-fitness-center-15: "\e9a9";
$maki-florist-15: "\e9aa";
$maki-fuel-15: "\e9ab";
$maki-furniture-15: "\e9ac";
$maki-gaming-15: "\e9ad";
$maki-garden-15: "\e9ae";
$maki-garden-center-15: "\e9af";

