@font-face {
  font-family: '#{$maki-font-family}';
  src:  url('#{$maki-font-path}/#{$maki-font-family}.eot');
  src:  url('#{$maki-font-path}/#{$maki-font-family}.eot#iefix') format('embedded-opentype'),
    url('#{$maki-font-path}/#{$maki-font-family}.ttf') format('truetype'),
    url('#{$maki-font-path}/#{$maki-font-family}.woff') format('woff'),
    url('#{$maki-font-path}/#{$maki-font-family}.svg##{$maki-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.maki-101 {
  background: #27964C; //nature
}
.maki-102 {
  background: #2171B5; //Cultural
}
.maki-103 {
  background: #EC7014;//Historical
}
.maki-104{
  background:#88419D; //Religion
}
.maki-105{
  background:#9E6246;//Architecture
}
.maki-106{
  background:#BDA628;//Industrial
}
.maki-107{
  background:#86C740;//Others
}
.maki-200{
  background:#EF3B2C;//amusements
}
.maki-300{
  background:#EF3B2C;//sport
}
.maki-400{
  background:#EF3B2C;//adult
}
.maki-503{
  background:#4EC9AC;//foods
}
.maki-502{
  background:#EB8A9C;//shops
}
.maki-501{
  background:#FABF8F;//transport
}
.maki-504{
  background:#0AB5FF;//bank
}
.maki-600 {
  background: #BF2C69; //accomodations
}

.maki {
  display: inline-block;
  font-family: '#{$maki-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.maki-lg {
  font-size: 1.3333333333333333em;
  line-height: .75em;
  vertical-align: -15%
}

.maki-2x {
  font-size: 2em
}

.maki-3x {
  font-size: 3em
}

.maki-4x {
  font-size: 4em
}

.maki-5x {
  font-size: 5em
}

.maki-fw {
  width: 1.2857142857142858em;
  text-align: center
}

.maki-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none
}

.maki-ul > li {
  position: relative
}

.maki-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: .14285714285714285em;
  text-align: center
}

.maki-li.maki-lg {
  left: -1.8571428571428572em
}

.maki-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em
}

.pull-right {
  float: right
}

.pull-left {
  float: left
}

.maki.pull-left {
  margin-right: .3em
}

.maki.pull-right {
  margin-left: .3em
}

.maki-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg)
  }
  100% {
    -moz-transform: rotate(359deg)
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg)
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg)
  }
  100% {
    -o-transform: rotate(359deg)
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg)
  }
  100% {
    -ms-transform: rotate(359deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(359deg)
  }
}

.maki-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg)
}

.maki-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg)
}

.maki-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg)
}

.maki-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1)
}

.maki-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1)
}

.maki-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle
}

.maki-stack-1x, .maki-stack-2x {
  position: absolute;
  width: 100%;
  text-align: center
}

.maki-stack-1x {
  line-height: inherit
}

.maki-stack-2x {
  font-size: 2em
}

.maki-inverse {
  color: #fff
}

.maki-jewelry-store-15 {
  &:before {
    content: $maki-jewelry-store-15; 
  }
}
.maki-karaoke-15 {
  &:before {
    content: $maki-karaoke-15; 
  }
}
.maki-landmark-15 {
  &:before {
    content: $maki-landmark-15; 
  }
}
.maki-landuse-15 {
  &:before {
    content: $maki-landuse-15; 
  }
}
.maki-laundry-15 {
  &:before {
    content: $maki-laundry-15; 
  }
}
.maki-library-15 {
  &:before {
    content: $maki-library-15; 
  }
}
.maki-lighthouse-15 {
  &:before {
    content: $maki-lighthouse-15; 
  }
}
.maki-lodging-15 {
  &:before {
    content: $maki-lodging-15; 
  }
}
.maki-logging-15 {
  &:before {
    content: $maki-logging-15; 
  }
}
.maki-marker-15 {
  &:before {
    content: $maki-marker-15; 
  }
}
.maki-marker-stroked-15 {
  &:before {
    content: $maki-marker-stroked-15; 
  }
}
.maki-mobile-phone-15 {
  &:before {
    content: $maki-mobile-phone-15; 
  }
}
.maki-monument-15 {
  &:before {
    content: $maki-monument-15; 
  }
}
.maki-mountain-15 {
  &:before {
    content: $maki-mountain-15; 
  }
}
.maki-museum-15 {
  &:before {
    content: $maki-museum-15; 
  }
}
.maki-music-15 {
  &:before {
    content: $maki-music-15; 
  }
}
.maki-natural-15 {
  &:before {
    content: $maki-natural-15; 
  }
}
.maki-optician-15 {
  &:before {
    content: $maki-optician-15; 
  }
}
.maki-paint-15 {
  &:before {
    content: $maki-paint-15; 
  }
}
.maki-park-15 {
  &:before {
    content: $maki-park-15; 
  }
}
.maki-park-alt1-15 {
  &:before {
    content: $maki-park-alt1-15; 
  }
}
.maki-parking-15 {
  &:before {
    content: $maki-parking-15; 
  }
}
.maki-parking-garage-15 {
  &:before {
    content: $maki-parking-garage-15; 
  }
}
.maki-pharmacy-15 {
  &:before {
    content: $maki-pharmacy-15; 
  }
}
.maki-picnic-site-15 {
  &:before {
    content: $maki-picnic-site-15; 
  }
}
.maki-pitch-15 {
  &:before {
    content: $maki-pitch-15; 
  }
}
.maki-place-of-worship-15 {
  &:before {
    content: $maki-place-of-worship-15; 
  }
}
.maki-playground-15 {
  &:before {
    content: $maki-playground-15; 
  }
}
.maki-police-15 {
  &:before {
    content: $maki-police-15; 
  }
}
.maki-post-15 {
  &:before {
    content: $maki-post-15; 
  }
}
.maki-prison-15 {
  &:before {
    content: $maki-prison-15; 
  }
}
.maki-rail-15 {
  &:before {
    content: $maki-rail-15; 
  }
}
.maki-rail-light-15 {
  &:before {
    content: $maki-rail-light-15; 
  }
}
.maki-rail-metro-15 {
  &:before {
    content: $maki-rail-metro-15; 
  }
}
.maki-ranger-station-15 {
  &:before {
    content: $maki-ranger-station-15; 
  }
}
.maki-recycling-15 {
  &:before {
    content: $maki-recycling-15; 
  }
}
.maki-religious-buddhist-15 {
  &:before {
    content: $maki-religious-buddhist-15; 
  }
}
.maki-religious-christian-15 {
  &:before {
    content: $maki-religious-christian-15; 
  }
}
.maki-religious-jewish-15 {
  &:before {
    content: $maki-religious-jewish-15; 
  }
}
.maki-religious-muslim-15 {
  &:before {
    content: $maki-religious-muslim-15; 
  }
}
.maki-residential-community-15 {
  &:before {
    content: $maki-residential-community-15; 
  }
}
.maki-restaurant-15 {
  &:before {
    content: $maki-restaurant-15; 
  }
}
.maki-restaurant-noodle-15 {
  &:before {
    content: $maki-restaurant-noodle-15; 
  }
}
.maki-restaurant-pizza-15 {
  &:before {
    content: $maki-restaurant-pizza-15; 
  }
}
.maki-restaurant-seafood-15 {
  &:before {
    content: $maki-restaurant-seafood-15; 
  }
}
.maki-roadblock-15 {
  &:before {
    content: $maki-roadblock-15; 
  }
}
.maki-rocket-15 {
  &:before {
    content: $maki-rocket-15; 
  }
}
.maki-school-15 {
  &:before {
    content: $maki-school-15; 
  }
}
.maki-scooter-15 {
  &:before {
    content: $maki-scooter-15; 
  }
}
.maki-shelter-15 {
  &:before {
    content: $maki-shelter-15; 
  }
}
.maki-shoe-15 {
  &:before {
    content: $maki-shoe-15; 
  }
}
.maki-shop-15 {
  &:before {
    content: $maki-shop-15; 
  }
}
.maki-skateboard-15 {
  &:before {
    content: $maki-skateboard-15; 
  }
}
.maki-skiing-15 {
  &:before {
    content: $maki-skiing-15; 
  }
}
.maki-slaughterhouse-15 {
  &:before {
    content: $maki-slaughterhouse-15; 
  }
}
.maki-slipway-15 {
  &:before {
    content: $maki-slipway-15; 
  }
}
.maki-snowmobile-15 {
  &:before {
    content: $maki-snowmobile-15; 
  }
}
.maki-soccer-15 {
  &:before {
    content: $maki-soccer-15; 
  }
}
.maki-square-15 {
  &:before {
    content: $maki-square-15; 
  }
}
.maki-square-stroked-15 {
  &:before {
    content: $maki-square-stroked-15; 
  }
}
.maki-stadium-15 {
  &:before {
    content: $maki-stadium-15; 
  }
}
.maki-star-15 {
  &:before {
    content: $maki-star-15; 
  }
}
.maki-star-stroked-15 {
  &:before {
    content: $maki-star-stroked-15; 
  }
}
.maki-suitcase-15 {
  &:before {
    content: $maki-suitcase-15; 
  }
}
.maki-sushi-15 {
  &:before {
    content: $maki-sushi-15; 
  }
}
.maki-swimming-15 {
  &:before {
    content: $maki-swimming-15; 
  }
}
.maki-table-tennis-15 {
  &:before {
    content: $maki-table-tennis-15; 
  }
}
.maki-teahouse-15 {
  &:before {
    content: $maki-teahouse-15; 
  }
}
.maki-telephone-15 {
  &:before {
    content: $maki-telephone-15; 
  }
}
.maki-tennis-15 {
  &:before {
    content: $maki-tennis-15; 
  }
}
.maki-theatre-15 {
  &:before {
    content: $maki-theatre-15; 
  }
}
.maki-toilet-15 {
  &:before {
    content: $maki-toilet-15; 
  }
}
.maki-town-15 {
  &:before {
    content: $maki-town-15; 
  }
}
.maki-town-hall-15 {
  &:before {
    content: $maki-town-hall-15; 
  }
}
.maki-triangle-15 {
  &:before {
    content: $maki-triangle-15; 
  }
}
.maki-triangle-stroked-15 {
  &:before {
    content: $maki-triangle-stroked-15; 
  }
}
.maki-veterinary-15 {
  &:before {
    content: $maki-veterinary-15; 
  }
}
.maki-viewpoint-15 {
  &:before {
    content: $maki-viewpoint-15; 
  }
}
.maki-village-15 {
  &:before {
    content: $maki-village-15; 
  }
}
.maki-volcano-15 {
  &:before {
    content: $maki-volcano-15; 
  }
}
.maki-volleyball-15 {
  &:before {
    content: $maki-volleyball-15; 
  }
}
.maki-warehouse-15 {
  &:before {
    content: $maki-warehouse-15; 
  }
}
.maki-waste-basket-15 {
  &:before {
    content: $maki-waste-basket-15; 
  }
}
.maki-watch-15 {
  &:before {
    content: $maki-watch-15; 
  }
}
.maki-water-15 {
  &:before {
    content: $maki-water-15; 
  }
}
.maki-waterfall-15 {
  &:before {
    content: $maki-waterfall-15; 
  }
}
.maki-watermill-15 {
  &:before {
    content: $maki-watermill-15; 
  }
}
.maki-wetland-15 {
  &:before {
    content: $maki-wetland-15; 
  }
}
.maki-wheelchair-15 {
  &:before {
    content: $maki-wheelchair-15; 
  }
}
.maki-windmill-15 {
  &:before {
    content: $maki-windmill-15; 
  }
}
.maki-zoo-15 {
  &:before {
    content: $maki-zoo-15; 
  }
}
.maki-gift-15 {
  &:before {
    content: $maki-gift-15; 
  }
}
.maki-globe-15 {
  &:before {
    content: $maki-globe-15; 
  }
}
.maki-golf-15 {
  &:before {
    content: $maki-golf-15; 
  }
}
.maki-grocery-15 {
  &:before {
    content: $maki-grocery-15; 
  }
}
.maki-hairdresser-15 {
  &:before {
    content: $maki-hairdresser-15; 
  }
}
.maki-harbor-15 {
  &:before {
    content: $maki-harbor-15; 
  }
}
.maki-hardware-15 {
  &:before {
    content: $maki-hardware-15; 
  }
}
.maki-heart-15 {
  &:before {
    content: $maki-heart-15; 
  }
}
.maki-heliport-15 {
  &:before {
    content: $maki-heliport-15; 
  }
}
.maki-home-15 {
  &:before {
    content: $maki-home-15; 
  }
}
.maki-horse-riding-15 {
  &:before {
    content: $maki-horse-riding-15; 
  }
}
.maki-hospital-15 {
  &:before {
    content: $maki-hospital-15; 
  }
}
.maki-ice-cream-15 {
  &:before {
    content: $maki-ice-cream-15; 
  }
}
.maki-industry-15 {
  &:before {
    content: $maki-industry-15; 
  }
}
.maki-information-15 {
  &:before {
    content: $maki-information-15; 
  }
}
.maki-aerialway-15 {
  &:before {
    content: $maki-aerialway-15; 
  }
}
.maki-airfield-15 {
  &:before {
    content: $maki-airfield-15; 
  }
}
.maki-airport-15 {
  &:before {
    content: $maki-airport-15; 
  }
}
.maki-alcohol-shop-15 {
  &:before {
    content: $maki-alcohol-shop-15; 
  }
}
.maki-america-football-15 {
  &:before {
    content: $maki-america-football-15; 
  }
}
.maki-amusement-park-15 {
  &:before {
    content: $maki-amusement-park-15; 
  }
}
.maki-aquarium-15 {
  &:before {
    content: $maki-aquarium-15; 
  }
}
.maki-art-gallery-15 {
  &:before {
    content: $maki-art-gallery-15; 
  }
}
.maki-attraction-15 {
  &:before {
    content: $maki-attraction-15; 
  }
}
.maki-bakery-15 {
  &:before {
    content: $maki-bakery-15; 
  }
}
.maki-bank-15 {
  &:before {
    content: $maki-bank-15; 
  }
}
.maki-bar-15 {
  &:before {
    content: $maki-bar-15; 
  }
}
.maki-barrier-15 {
  &:before {
    content: $maki-barrier-15; 
  }
}
.maki-baseball-15 {
  &:before {
    content: $maki-baseball-15; 
  }
}
.maki-basketball-15 {
  &:before {
    content: $maki-basketball-15; 
  }
}
.maki-bbq-15 {
  &:before {
    content: $maki-bbq-15; 
  }
}
.maki-beach-15 {
  &:before {
    content: $maki-beach-15; 
  }
}
.maki-beer-15 {
  &:before {
    content: $maki-beer-15; 
  }
}
.maki-bicycle-15 {
  &:before {
    content: $maki-bicycle-15; 
  }
}
.maki-bicycle-share-15 {
  &:before {
    content: $maki-bicycle-share-15; 
  }
}
.maki-blood-bank-15 {
  &:before {
    content: $maki-blood-bank-15; 
  }
}
.maki-bowling-alley-15 {
  &:before {
    content: $maki-bowling-alley-15; 
  }
}
.maki-bridge-15 {
  &:before {
    content: $maki-bridge-15; 
  }
}
.maki-building-15 {
  &:before {
    content: $maki-building-15; 
  }
}
.maki-building-alt1-15 {
  &:before {
    content: $maki-building-alt1-15; 
  }
}
.maki-bus-15 {
  &:before {
    content: $maki-bus-15; 
  }
}
.maki-cafe-15 {
  &:before {
    content: $maki-cafe-15; 
  }
}
.maki-campsite-15 {
  &:before {
    content: $maki-campsite-15; 
  }
}
.maki-car-15 {
  &:before {
    content: $maki-car-15; 
  }
}
.maki-car-rental-15 {
  &:before {
    content: $maki-car-rental-15; 
  }
}
.maki-car-repair-15 {
  &:before {
    content: $maki-car-repair-15; 
  }
}
.maki-casino-15 {
  &:before {
    content: $maki-casino-15; 
  }
}
.maki-castle-15 {
  &:before {
    content: $maki-castle-15; 
  }
}
.maki-cemetery-15 {
  &:before {
    content: $maki-cemetery-15; 
  }
}
.maki-charging-station-15 {
  &:before {
    content: $maki-charging-station-15; 
  }
}
.maki-cinema-15 {
  &:before {
    content: $maki-cinema-15; 
  }
}
.maki-circle-15 {
  &:before {
    content: $maki-circle-15; 
  }
}
.maki-circle-stroked-15 {
  &:before {
    content: $maki-circle-stroked-15; 
  }
}
.maki-city-15 {
  &:before {
    content: $maki-city-15; 
  }
}
.maki-clothing-store-15 {
  &:before {
    content: $maki-clothing-store-15; 
  }
}
.maki-college-15 {
  &:before {
    content: $maki-college-15; 
  }
}
.maki-commercial-15 {
  &:before {
    content: $maki-commercial-15; 
  }
}
.maki-communications-tower-15 {
  &:before {
    content: $maki-communications-tower-15; 
  }
}
.maki-confectionary-15 {
  &:before {
    content: $maki-confectionary-15; 
  }
}
.maki-convenience-store-15 {
  &:before {
    content: $maki-convenience-store-15; 
  }
}
.maki-cricket-15 {
  &:before {
    content: $maki-cricket-15; 
  }
}
.maki-cross-15 {
  &:before {
    content: $maki-cross-15; 
  }
}
.maki-dam-15 {
  &:before {
    content: $maki-dam-15; 
  }
}
.maki-danger-15 {
  &:before {
    content: $maki-danger-15; 
  }
}
.maki-defibrillator-15 {
  &:before {
    content: $maki-defibrillator-15; 
  }
}
.maki-dentist-15 {
  &:before {
    content: $maki-dentist-15; 
  }
}
.maki-doctor-15 {
  &:before {
    content: $maki-doctor-15; 
  }
}
.maki-dog-park-15 {
  &:before {
    content: $maki-dog-park-15; 
  }
}
.maki-drinking-water-15 {
  &:before {
    content: $maki-drinking-water-15; 
  }
}
.maki-embassy-15 {
  &:before {
    content: $maki-embassy-15; 
  }
}
.maki-emergency-phone-15 {
  &:before {
    content: $maki-emergency-phone-15; 
  }
}
.maki-entrance-15 {
  &:before {
    content: $maki-entrance-15; 
  }
}
.maki-entrance-alt1-15 {
  &:before {
    content: $maki-entrance-alt1-15; 
  }
}
.maki-farm-15 {
  &:before {
    content: $maki-farm-15; 
  }
}
.maki-fast-food-15 {
  &:before {
    content: $maki-fast-food-15; 
  }
}
.maki-fence-15 {
  &:before {
    content: $maki-fence-15; 
  }
}
.maki-ferry-15 {
  &:before {
    content: $maki-ferry-15; 
  }
}
.maki-fire-station-15 {
  &:before {
    content: $maki-fire-station-15; 
  }
}
.maki-fitness-center-15 {
  &:before {
    content: $maki-fitness-center-15; 
  }
}
.maki-florist-15 {
  &:before {
    content: $maki-florist-15; 
  }
}
.maki-fuel-15 {
  &:before {
    content: $maki-fuel-15; 
  }
}
.maki-furniture-15 {
  &:before {
    content: $maki-furniture-15; 
  }
}
.maki-gaming-15 {
  &:before {
    content: $maki-gaming-15; 
  }
}
.maki-garden-15 {
  &:before {
    content: $maki-garden-15; 
  }
}
.maki-garden-center-15 {
  &:before {
    content: $maki-garden-center-15; 
  }
}

