.label-tooltip-Inner {
  padding: 3px 0px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  opacity: 2.0;
  margin: 0px;
}
.label-tooltip-Inner-layer {
  color: rgb(41, 107, 107);
  font-weight: bold;
  overflow: hidden;
  padding: 3px 0px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  opacity: 2.0;
  margin: 0px;
}
.map-brand-otm {
  float: left;
  font-size: 18px;
  line-height: 20px;
  height: 30px;
  margin-left: 10px;
  margin-top: 7px;
}

#map-main-otm {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: 100%;
}