/* Basics */

.geocoder {
    display: none;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,
.mapboxgl-ctrl-geocoder *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mapboxgl-ctrl-geocoder {
    font: 15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: relative;
    background-color: white;
    width: 258px;
    z-index: 1;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.mapboxgl-ctrl-geocoder input[type='text'] {
    font-size: 12px;
    width: 100%;
    border: 0;
    background-color: transparent;
    height: 34px;
    margin: 0;
    color: rgba(0, 0, 0, .5);
    padding: 10px 10px 10px 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 2px solid $mainThemeColor;
}

.mapboxgl-ctrl-geocoder input[type='text']:focus {
    outline: none;
}

.mapboxgl-ctrl-geocoder input[type='text']::-webkit-input-placeholder {
    color: #CCC;
}

.mapboxgl-ctrl-geocoder input[type='text']:-ms-input-placeholder {
    color: #CCC;
}

.mapboxgl-ctrl-geocoder input[type='text']::-ms-input-placeholder {
    color: #CCC;
}

.mapboxgl-ctrl-geocoder input[type='text']::placeholder {
    color: #CCC;
}

.mapboxgl-ctrl-geocoder input[type='text']:focus::-webkit-input-placeholder {
    color: transparent;
}

.mapboxgl-ctrl-geocoder input[type='text']:focus:-ms-input-placeholder {
    color: transparent;
}

.mapboxgl-ctrl-geocoder input[type='text']:focus::-ms-input-placeholder {
    color: transparent;
}

.mapboxgl-ctrl-geocoder input[type='text']:focus::placeholder {
    color: transparent;
}

.mapboxgl-ctrl-geocoder input:focus {
    color: rgba(0, 0, 0, .75);
}

.mapboxgl-ctrl-geocoder .geocoder-icon-search {
    position: absolute;
}

.mapboxgl-ctrl-geocoder button {
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.mapboxgl-ctrl-geocoder .geocoder-pin-right * {
    background-color: #fff;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder ul {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.65);
}

/* Suggestions */

.mapboxgl-ctrl-geocoder ul {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 1000;
    overflow: hidden;
    font-size: 12px;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl-geocoder ul,
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-geocoder ul {
    top: auto;
    bottom: 100%;
}

.mapboxgl-ctrl-geocoder ul>li>a {
    clear: both;
    cursor: default;
    display: block;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404040;
}

.mapboxgl-ctrl-geocoder ul>li:last-child>a {
    margin-bottom: 20px;
}

.mapboxgl-ctrl-geocoder ul>li>a:hover {
    color: #202020;
    background-color: #f3f3f3;
    text-decoration: none;
    cursor: pointer;
}

.mapboxgl-ctrl-geocoder ul>li.active>a {
    color: #202020;
    background-color: #e3e3e3;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* icons */

.geocoder-icon {
    display: inline-block;
    vertical-align: middle;
    speak: none;
    background-repeat: no-repeat;
}

.geocoder-icon-loading {
    -webkit-animation: rotate 400ms linear infinite;
    -moz-animation: rotate 400ms linear infinite;
    -ms-animation: rotate 400ms linear infinite;
    animation: rotate 400ms linear infinite;
    top: 9px !important;
    right: 7px !important;
}